/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

#chatWindows
{
	border: 2px solid #DDDDDD;
	border-radius: 8px;
        width: 79%;
        height: 300px;
	text-align: left;
        display: table;
        float: left;
}

#chatPeople
{
	border: 2px solid #DDDDDD;
	border-radius: 8px;
        width: 20%;
        height: 300px;
	text-align: left;
        display: table;
        float: right;
}

#chatRoom
{
        width: 100%;
        height: 280px;
	text-align: left;
        display: table-row;
        float: top;
}

.chatBar
{
	border: 2px solid #DDDDDD;
	border-radius: 8px;
        height: 20px;
	text-align: left;
        width: 200%;
        display: table;
        clear: both;
        float: bottom;
}

#onChat
{
        padding: 3px;
	border: 2px solid #DDDDDD;
	border-radius: 8px;
        width: 50%;
        height: 260px;
	text-align: left;
        display: table-cell;
        overflow: auto;        
}

#offChat
{
        padding: 3px;
	border: 2px solid #DDDDDD;
	border-radius: 8px;
        width: 50%;
        height: 260px;
	text-align: left;
        display: table-cell;
        overflow: auto;
}

.chatHeaders
{
    text-align: center;
    font: 16px helvetica;
    font-weight: bold;
    font-variant: small-caps;
}

#onChatData
{
    overflow: auto;
    height: 230px;
    width: 100%;
}

#offChatData
{
    overflow: auto;
    height: 230px;
    width: 100%;
}

.chatUser
{
    font-weight: bold;
    font-variant: small-caps;
    color: red;
}

.chatInfo
{
    font-weight: bold;
    font-variant: small-caps;
    color: blue;
}

.secretChatText
{
    font-style: italic;
    color:green;
}

.secretChatUser
{
    font-weight: bold;
}


.user
{
    font-style: italic;
    font-size: 50%;
}

.conditions
{
    font-weight: bold;
    font-variant: small-caps;
    color: dark-green;
}
